* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.app {
  background: #FFFFFF;
}

main {
  padding-top: 0;
}

@media (max-width: 768px) {
  main {
    padding-top: 0;
  }
}
